[mysqld]
server-id=2                  # 唯一的服务器 ID，必须与主库不同
relay-log=mysqld-relay-bin   # 启用中继日志
log-bin=mysql-bin            # 启用二进制日志（如果从库也要成为主库）
read-only=1                  # 将从库设置为只读

replicate-do-table=cpx_exchange.%

#只复制表的数据
replicate-ignore-table=cpx_exchange.cpx_user
replicate-ignore-table=cpx_exchange.cpx_user_device
replicate-ignore-table=cpx_exchange.cpx_user_fee_commission
replicate-ignore-table=cpx_exchange.cpx_user_kyc_verification
replicate-ignore-table=cpx_exchange.cpx_user_login_log
replicate-ignore-table=cpx_exchange.cpx_user_passkey
replicate-ignore-table=cpx_exchange.cpx_user_password_history
replicate-ignore-table=cpx_exchange.cpx_user_relation
replicate-ignore-table=cpx_exchange.cpx_user_safe_operation_log
replicate-ignore-table=cpx_exchange.user
replicate-ignore-table=cpx_exchange.user_login_log
